.simple-products{
min-height:100vh;
padding:140px 7% 90px;
}

.simple-grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:22px;
}

.simple-card{
background:linear-gradient(145deg,#151515,#070707);
border:1px solid rgba(255,0,0,.28);
border-radius:24px;
padding:28px;
box-shadow:0 0 40px rgba(255,0,0,.12);
transition:.3s;
}

.simple-card:hover{
transform:translateY(-8px);
box-shadow:0 0 60px rgba(255,0,0,.3);
}

.simple-card h3{
font-size:24px;
margin-bottom:14px;
}

.simple-card p{
color:#cfcfcf;
line-height:1.6;
min-height:78px;
}

.simple-card strong{
display:block;
font-size:28px;
color:#ffcc4b;
margin:22px 0;
}

.simple-card a{
display:block;
padding:15px;
background:#ff1111;
color:white;
text-decoration:none;
text-align:center;
border-radius:14px;
font-weight:900;
box-shadow:0 0 30px rgba(255,0,0,.35);
}

.simple-card a:hover{
background:white;
color:#ff1111;
}

@media(max-width:950px){
.simple-grid{
grid-template-columns:1fr;
}
.order-page{
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
padding:140px 20px;
}

.order-box{
width:100%;
max-width:650px;
padding:40px;
border-radius:26px;
background:linear-gradient(145deg,#141414,#090909);
border:1px solid rgba(255,0,0,.2);
box-shadow:0 0 50px rgba(255,0,0,.12);
}

.order-box h1{
margin-bottom:30px;
font-size:42px;
}

.order-box label{
display:block;
margin:20px 0 10px;
font-weight:900;
color:#ff4b4b;
}

.order-box input,
.order-box select{
width:100%;
padding:18px;
border-radius:14px;
background:#111;
border:1px solid rgba(255,255,255,.1);
color:white;
}

.price-box{
margin-top:20px;
padding:25px;
border-radius:18px;
background:#111;
font-size:32px;
font-weight:900;
color:#ffcc4b;
}

.buy-btn{
display:block;
margin-top:30px;
padding:18px;
text-align:center;
border-radius:16px;
background:#ff1111;
color:white;
text-decoration:none;
font-weight:900;
}
.simple-products{
padding:80px 7%;
}
}
.order-page{
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
padding:140px 20px;
}

.order-box{
width:100%;
max-width:650px;
padding:40px;
border-radius:26px;
background:linear-gradient(145deg,#141414,#090909);
border:1px solid rgba(255,0,0,.2);
box-shadow:0 0 50px rgba(255,0,0,.12);
}

.order-box h1{
margin-bottom:30px;
font-size:42px;
}

.order-box label{
display:block;
margin:20px 0 10px;
font-weight:900;
color:#ff4b4b;
}

.order-box input,
.order-box select{
width:100%;
padding:18px;
border-radius:14px;
background:#111;
border:1px solid rgba(255,255,255,.1);
color:white;
}

.price-box{
margin-top:20px;
padding:25px;
border-radius:18px;
background:#111;
font-size:32px;
font-weight:900;
color:#ffcc4b;
}

.buy-btn{
display:block;
margin-top:30px;
padding:18px;
text-align:center;
border-radius:16px;
background:#ff1111;
color:white;
text-decoration:none;
font-weight:900;
}

.buy-btn:hover{
background:white;
color:#ff1111;
}
