*{margin:0;padding:0;box-sizing:border-box;font-family:Arial,Helvetica,sans-serif}
body{background:#050505;color:#fff;overflow-x:hidden}
html{scroll-behavior:smooth}

.navbar{
position:fixed;
top:0;
width:100%;
padding:25px 6%;
display:flex;
justify-content:space-between;
align-items:center;
background:#000000cc;
backdrop-filter:blur(10px);
z-index:100;
}

.logo{
font-size:38px;
font-weight:900;
color:#ff1a1a;
letter-spacing:4px;
text-shadow:0 0 25px red;
}

nav{
display:flex;
gap:35px;
}

nav a{
color:white;
text-decoration:none;
}

.hero{
min-height:100vh;
padding:140px 6%;
display:grid;
grid-template-columns:1.1fr .9fr;
align-items:center;
position:relative;
background:
radial-gradient(circle at 75% 35%,rgba(255,0,0,.18),transparent 35%),
#050505;
}

.badge{
display:inline-block;
padding:10px 20px;
border-radius:999px;
border:1px solid #ff2f2f55;
color:#ff4f4f;
margin-bottom:25px;
}

.hero h1{
font-size:140px;
font-weight:900;
line-height:.85;
text-shadow:0 0 40px red;
}

.hero p{
font-size:20px;
max-width:700px;
line-height:1.7;
margin-top:25px;
color:#ddd;
}

.buttons{
display:flex;
gap:15px;
margin-top:30px;
}

.btn{
padding:18px 30px;
border-radius:12px;
text-decoration:none;
font-weight:bold;
}

.red{
background:#ff1111;
color:white;
}

.dark{
background:#151515;
border:1px solid #333;
color:white;
}

.hero-card{
width:320px;
height:430px;
background:linear-gradient(180deg,#ff1111,#320000);
border-radius:35px;
padding:30px;
display:flex;
flex-direction:column;
justify-content:flex-end;
margin-left:auto;
transform:rotate(8deg);
box-shadow:0 0 60px rgba(255,0,0,.4);
}

.hero-card h2{
font-size:80px;
}

.hero-card p{
color:#ddd;
}

@media(max-width:900px){

.hero{
grid-template-columns:1fr;
text-align:center;
}

.hero h1{
font-size:80px;
}

.hero-card{
margin:auto;
margin-top:50px;
transform:none;
}

.navbar{
flex-direction:column;
gap:10px;
}

}
